.cc-background {
background: rgb(255,193,193);
background: linear-gradient(90deg, rgba(255,193,193,1) 0%, rgba(247,159,181,1) 100%); 
}

.cc-centered {
display:inline-block;
float:none;
text-align: center;
}

button { 
cursor: pointer;
}